@import "variables";

@mixin border($color) {
  border: solid 1px $color;
}

.photoContainer{
  margin-bottom:5%
}

.modal-body .buttonSaveAccommodation {
  float: right;
  margin-left: 60%;
  padding: 3%;
  width: 40%;
  font-size: medium;
  color: $header-text-color;
  border-radius: 5px;
  @include border($border-valid-color);
  text-align: center;
  background-color: $main-color-button;
}

.modal.in .publisherModal{
  max-width: 600px;
  top: 40%;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  float: right;
  display: inline-block;
  padding: 2% 10% 2% 10%;
  background-color: $main-color-button;
  @include border($border-valid-color);
  color: $header-text-color;
  border-radius: 5px;
}

.col-fix-width{
  width: 60px;
}

.addAccommodationButtonRow{
  margin-bottom: 20px;
  margin-right: 15%;
}

.photoBank > a{
  display: inline-block;
  float:right;
  margin: 2% 10%;;
  color: white;
  font-size: 20px;
}
