@import "variables";

.addUserButton{
  float: right;
  background-color: $main-color-button;
  color: $header-text-color;
  font-weight: bold;
  width: 170px;
}

.addUserButton:hover{
  font-weight: 100;
  color: $header-text-color;
}

.addUserButtonRow{
  margin-bottom: 20px;
  margin-right: 15%;
}

.addUserButton:focus {
  color: $header-text-color;
}

h3 img{
  display: inline;
  width: 60px;
}

.modal-open{
  .mainConteiner{
    display: none;
  }
}