@import "variables";

@mixin border($color) {
  border: solid 1px $color;
}

.advBlock{
  float: left;
  position: relative;
  margin: 2%;
  img{
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .cityName{
    position: absolute;
    display: inline-block;
    top: 8px;
    left: 21%;
    color: $header-text-color;
    font-size: 18px;
    font-weight: 600;
    z-index: 2;
  }
  //&:hover{
  //  box-sizing: border-box;
  //  border: 1px solid $main-color-button;
  //  border-radius: 5px;
  //}
}

.advBlock-infoBox{
  position: relative;
  margin: auto;
  padding: 10px 3%;
}

.advBlock-infoBox-price{
  float: right;
  display: block;
  color: $price-color;
}

.advBlock-buy{
  float: right;
  text-decoration: none;
  padding: 5px;
  width: 30%;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
  border: solid 1px #1abc9c;
  text-align: center;
  background-color: #16a085;
  outline: none;
  &:hover{
    text-decoration: none;
    color: #ffffff;
  }
}

@media screen and (max-width: 519px) {
  .advBlock{
    width: 96%;
  }
}

@media screen and (max-width: 759px) and (min-width: 520px) {
  .advBlock{
    width: 45%;
  }
}

@media screen and (min-width: 760px) {
  .advBlock{
    width: 29%;
  }
}

.paginationBlock{
  text-align: center;
}

.pagination {
  margin: 0;
  li {
    a {
      border: none;
      color: #000;
    }
  }
  .active {
    a {
      background-color: $main-color-button;
      @include border($border-valid-color);
    }
  }
}

.pagination-sm > li > a {
  font-size: 10px;
}

.price {
  color: $price-color;
}

