@import "variables";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.navbar > .container .navbar-brand {
  padding: 0;
  margin-left: 50px;
  font-size: 150%;
  line-height: 60px;
  color: $header-text-color;
}

.navbar-brand > img {
  display: inline;
  width: 60px;
}

nav.header {
  background-color: $main-color;
}

span.icon-bar {
  background-color: white;
}

//.navbar-toggle {
//  margin-top: 3%;
//}

li {
  a.navbar-toggle:hover {
    background-color: transparent;
    background-image: none;
  }
  a.navbar-toggle.navbarButton {
    background-color: transparent;
    background-image: none;
  }
}

.navbar-nav {
  float: right;
}

.navbar-nav > li > a {
  color: $header-text-color;
  font-size: 100%;
}

.conteinerBox {
  padding-bottom: 60px;
  min-height: 540px;
}

div.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $main-color;
}

.modal-open {
  .header, .container, .footer {
    display: none;
  }
}



