@import "variables";

@mixin border($color) {
  border: solid 1px $color;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0;
}

.modal.in .modal-dialog {
  max-width: 430px;
  height: 420px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: inherit;
  padding: 1% 3% 1% 3%;
  outline: none;
  .modal-title {
    text-align: center;
  }
}

.modal-header {
  margin: 0 3% 0 3%;
  p {
    padding: 0 0 0 10px;

  }
}

.modal-body {
  padding: 5px 25px;
}

form .ng-pristine {
  @include border($border-pristine-color);
}

form .ng-invalid-email {
  @include border($error-color);
}

form .ng-valid.ng-dirty {
  @include border($border-valid-color);
}

.error {
  color: $error-color;
}

.userNotLoginMessage {
  color: $error-color;
}

.modal-footer .buttonSubmit {
  background-color: $main-color-button;
  position: inherit;
  color: $header-text-color;
  border-radius: 5px;
  @include border($border-valid-color);
  padding: 4%;
  text-align: center;
  width: 70%;
  margin-right: 15%;
  font-size: medium;
}

.error {
  height: 15px;
  margin-bottom: 5px;
}

.close {
  float: right;
  top: 0;
  background-color: transparent;
  border-color: transparent;
  span {
    font-size: x-large;
  }
}

.modal-footer > .btn-default{
  background-image: none;
}

h3 img{
  display: inline;
  width: 60px;
}