$main-color-button: #16a085;
$header-text-color: #ffffff;
$border-valid-color: #1abc9c;
$price-color: #e74c3c;
$main-color: #00ad76;
$border-color: #000000;
$border-pristine-color: #D3D3D3;
$error-color: #df2626;