<div class="container mainConteiner">
    <div class="row addAccommodationButtonRow">
        <button type="button" class="btn addUserButton" data-toggle="modal" data-target="#modalSaveAccommodation"> + Add
            accommodation
        </button>
    </div>
</div>
<div class="modal fade" id="modalSaveAccommodation">
    <div class="modal-dialog publisherModal">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add your accommodation</h4>
            </div>
            <div class="modal-body">
                <div class="photoContainer">
                </div>
                <form ng-submit="submitAccomodation()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3 col-fix-width"><label for="City">City</label></div>
                                    <div class="col-sm-9"><input type="text" id="City" name="city" ng-model="city"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="uploadImages" class="custom-file-upload">+ Upload images</label>
                                <input type="file" id="uploadImages" name="accImage" fileread="vm.uploadme">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-fix-width"><label for="District">District</label></div>
                            <div class="col-sm-9"><input type="text" id="District" name="district" ng-model="district"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 col-fix-width"><label for="Rooms">Rooms</label></div>
                            <div class="col-sm-9"><input type="text" id="Rooms" name="rooms" ng-model="rooms"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3 col-fix-width"><label for="Price">Price</label></div>
                                    <div class="col-sm-9"><input type="text" id="Price" name="price" ng-model="price"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button type="submit" class="btn  buttonSaveAccommodation" ng-disabled="">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

