<div class="container mainConteiner">
    <div class="row addUserButtonRow">
    <button type="button" class="btn addUserButton" data-toggle="modal" data-target="#modalSaveUser"> + Add user</button>
</div>
    <div class="container">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.email}}</td>
                <td>{{item.password}}</td>
                <td>{{item.role}}</td>
                <td>
                    <button class="btn btn-default">Edit</button>
                </td>
                <td>
                    <button class="btn btn-default">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
<div class="modal fade" id="modalSaveUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" id="myModalLabel"><strong>HOUSES <img ng-src="../../img/house.png"> rent</strong>
                </h3>
            </div>
            <div class="modal-body">
                <form name="userForm" novalidate ng-submit="">
                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <input name="userEmail" type="email" class="form-control" id="emailInput"
                               ng-model="" required>
                    </div>
                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <input name="userPassword" type="password" class="form-control" id="passwordInput"
                               ng-model="" required>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="admin" required>Admin
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="user" required>User
                        </label>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn  buttonSubmit" ng-disabled="">Save user</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>