<div class="container">
    <div class="row">
        <div class="advBlock" ng-repeat="(i, slide) in slides">
            <div data-toggle="modal" data-target="#viewImages">
                <div>
                    <img ng-src="{{ slide.image }}" class="img-responsive" alt="" >
                </div>
                <div class="advBlock-infoBox">
                    <p class="advBlock-infoBox-price">Prices &#36</p>
                    <p>District</p>
                    <!--<ssssbutton class="advBlock-buy" ng-click="$event.stopPropagation();">Buy</button>-->
                    <a ui-sref="index.message" type="button" class="advBlock-buy">Buy</a>
                    <p>Rooms</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="paginationBlock">
            <nav class="">
                <ul class="pagination pagination-sm">
                    <li class="disabled">
                        <a href="#">
                            <i class="fa fa-chevron-left"></i>
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="#">Previous</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li><a href="#">2</a> </li>
                    <li><a href="#">3</a> </li>
                    <li><a href="#">4</a> </li>
                    <li>
                        <a>
                            <i class="fa fa-ellipsis-h"></i>
                        </a>
                    </li>
                    <li><a href="#">12</a> </li>
                    <li>
                        <a href="#">Next</a>
                    </li>
                    <li class="disabled">
                        <a href="#">
                            <i class="fa fa-chevron-right"></i>
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="modal fade photoBankModal cen" id="viewImages">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li class="active" data-target="#carousel" data-slide-to="0"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>

    <div class="carousel-inner c1">
        <div class="item active" data-dismiss="modal">
            <img src="../../img/5.jpg" alt="" class="center-block">
        </div>
        <div class="item" data-dismiss="modal">
            <img src="../../img/6.jpg" alt="" class="center-block">
        </div>
        <div class="item" data-dismiss="modal">
            <img src="../../img/7.jpg" alt="" class="center-block">
        </div>
    </div>
        <a href="#carousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a href="#carousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
