
            <div class="modal-header">
                <button type="button" class="close" ng-click="dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <div>
                    <h3 class="modal-title" id="myModalLabel"><strong>HOUSES <img ng-src="../../img/house.png"> rent</strong>
                    </h3>

                </div>
                <p ng-if="messageLogin">
                    {{messageLogin}}
                </p>
                <p class="userNotLoginMessage" ng-if="messageErrorLogin">
                    {{messageErrorLogin}}
                </p>
            </div>
            <div class="modal-body">
                <form name="loginForm" novalidate ng-submit="checkNewUser(newUser)">
                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <input name="userEmail" type="email" class="form-control" id="emailInput"
                               ng-model="newUser.email" required>
                        <div class="error">
                            <span ng-show="loginForm.userEmail.$invalid && loginForm.userEmail.$dirty">
                                {{inputErrorMessage(loginForm.userEmail.$error)}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="passwordInput">Password</label>
                        <input name="userPassword" type="password" class="form-control" id="passwordInput"
                               ng-model="newUser.password" required>
                        <div class="error">
                            <span ng-show="loginForm.userPassword.$dirty">
                            {{inputErrorMessage(loginForm.userPassword.$error)}}
                            </span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn buttonSubmit" ng-disabled="loginForm.$invalid">Sign
                            in
                        </button>
                    </div>
                </form>
            </div>



<!--
<div class="modal-content">
    <div class="modal-dialog modal-backdrop" role="dialog">
        <button type="button" class="close" ng-click="dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-header">
            <div>
                <h3 class="modal-title" id="myModalLabel"><strong>HOUSES <img ng-src="img/house.png"> rent</strong>
                </h3>
            </div>
            <p ng-if="messageLogin">
                {{messageLogin}}
            </p>
            <p class="userNotLoginMessage" ng-if="messageErrorLogin">
                {{messageErrorLogin}}
            </p>
        </div>
        <div class="modal-body">
            <form name="loginForm" class="form-horizontal" novalidate ng-submit="checkNewUser(newUser)">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input name="userEmail" type="email" class="form-control inputLogin"
                               ng-model="newUser.email" required>
                        <div class="error">
                            <span ng-show="loginForm.userEmail.$invalid && loginForm.userEmail.$dirty">
                                {{inputErrorMessage(loginForm.userEmail.$error)}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input name="userPassword" type="password" class="form-control inputLogin"
                               ng-model="newUser.password" required>
                        <div class="error">
                            <span ng-show="loginForm.userPassword.$dirty">
                            {{inputErrorMessage(loginForm.userPassword.$error)}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default buttonSubmit" ng-disabled="loginForm.$invalid">Sign
                        in
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
-->
