<nav class="navbar header">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#responsive-menu"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="homeButton()">HOUSES <img alt="Brand" src="../../img/house-white.png"> rent</a>
    </div>
    <div class="collapse navbar-collapse" id="responsive-menu">
        <ul class="nav navbar-nav">
            <li><a ui-sref="index.connect" type="button" class="navbar-toggle navbarButton">{{connectName}}</a></li>
            <li><a ui-sref="index.account" type="button" class="navbar-toggle navbarButton">{{accountName}}</a></li>
            <li><a ui-sref="index.login" type="button" class="navbar-toggle navbarButton">{{loginName}}</a></li>
        </ul>
    </div>
    </div>
</nav>
<div class="conteinerBox">
    <ui-view></ui-view>
</div>
<div class="footer">
</div>



