<div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <div>
        <h3 class="modal-title" id="myModalLabel"><strong>HOUSES <img ng-src="../../img/house.png"> rent</strong></h3>
    </div>
    <p>Please, enter yor email and message to connect with owner</p>
</div>
<div class="modal-body">
    <form class="connectForm" method="POST" action="https://formspree.io/mayaksofia1997@gmail.com" >
        <div class="form-group">
            <label for="userEmail">Email</label>
            <input type="text" class="form-control" name="email" id="userEmail" required>
        </div>
        <div class="form-group">
            <label for="userMessage">Message</label>
            <textarea class="form-control" id="userMessage" rows="3" name="message"></textarea>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn buttonSubmit">Send</button>
        </div>
    </form>
</div>